@charset "utf-8";
root { display: block;}
*{ margin:0; padding:0;}

body { font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif; }

table[name="mostrar"]{ width: 100%; text-align: center;}
table{ width: 100%;}
table tr[name="linha"]{ background: black; color: white;}
table tr[name="linha"] h3{ color: white;}

input[type="reset"],[type="submit"]{ background: #f8cb0c; padding: 10px; border-radius:5px; color:black; padding:2px 5px; border:1px solid #999; cursor:pointer; font: 19px bold;}
input[type="text"],[type="password"]{ width: 300px; height: 25px; font-size: 19px; border-color: black;}
input[type="file"]{ width: 300px; height: 25px; font-size: 16px; border-color: black;}
input[type="button"]{ background: #f8cb0c; padding: 5px; border-radius:5px; color:black; padding:2px 5px; border:1px solid #999; cursor:pointer; font: 16px bold;}
input[type="reset"]:hover,[type="button"]:hover,
[type="submit"]:hover{ box-shadow:inset 0 0 6px #666;}
h1{ color: #f8cb0c; text-align: center; background: black;}

.coluna{ background: #ccc;}

textarea{ border-color: black; width: 615px; height: 370px; font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;}
textarea[name="obs"]{ border-color: black; width: 300px; height: 70px; font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;}

/* Menu Administração------------------------------------------------------------------------------------------------------------------------*/
table td[name="titulo"]{ background: black; font: bold; color: #f8cb0c;}
ul{ list-style:none; text-align: left;}
li:hover{ background: #f8cb0c; color: black;}
a{ text-decoration: none;}
h3{ color: black;}