root { display: block;}

*{ margin: 0px; padding: 0px;}

body{ background: #ccc; text-align: justify; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}

p[name="msg"]{ background: yellow; font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif; color: red; text-align: center; font-weight: bold;}
p[name="msg"] b{ color: blue;}
p[name="obs"]{ font-size: 15px; text-align: left; text-indent: 0px; margin-bottom: 0px;}

div#topo{ background: url(../imagens/fundo2.jpg)/*#f7f0d5*/; width: 100%;}
    .topo{ width: 980px; margin: 0 auto; text-align: center;}

div#contentBotoes{ background: #1e1c11/*url(../imagens/fundo3.png)#4169E1*/; min-height: 40px; width: 100%; margin: 0px 0px 20px 0px;}
    .botoes{ width: 980px; margin: 0 auto; padding: 8px 0;}
    .botoes a{ text-decoration: none; color: white; }
    .botoes a:hover{ color: gold;}
    .botoes h3{ color: white;}
.busca{ float: right;}

div#content{ width: 980px; margin: 0 auto;}
    
div#contentDireita{ width: 300px;  float: right; }
div#blocoDireita{ width: 100%; margin-bottom: 12px;}
    .tituloDireita{ background: #1e1c11/*#363636*/; width: 100%;}
    .tituloDireita h1{ color: gold; padding: 10px; text-align: center; font-size: 28px;}
    
/*Menu Direita----------------------------------------------------------------------------------------------------------------------------------*/
.col1{ max-width: 700px; float: left; overflow: hidden; margin-bottom: 20px;}
.col2{ max-width: 200px; float: right; overflow: hidden; margin-bottom: 20px;}
.catego{ text-align: center; background: #1e1c11; color: #f8cb0c; font-size: 35px; padding: 9px 0 9px 15px; font-weight: bold;}
/*Fecha Menu Direita----------------------------------------------------------------------------------------------------------------------------------*/

    
/*Midias----------------------------------------------------------------------------------------------------------------------------------*/
.email{ background: #7c1913; color: #f8cb0c;width: 300px; margin-bottom: 5px; text-align: center;}
.email input[type="text"]{ width: 290px; height: 30px; font-size: 19px; border-color: black;}
.imagem{ background: #7c1913;}
.imagem img{ width: 50px; }
/*Fecha Midias----------------------------------------------------------------------------------------------------------------------------------*/

/*Parceiros----------------------------------------------------------------------------------------------------------------------------------*/
.parc table{ width: 300px; background: #f8cb0c;}
.parc a{ text-decoration: none; color: black; font-size: 15px;}
.parc a:hover{ color: #f8cb0c;}
.parc img{ width: 20px;}
.parc b{ margin-left: 3px; font-size: 19px;}
.parc ul{ list-style:none; text-align: left; cursor:pointer;}
.parc li:hover{ box-shadow:inset 0 0 6px #666; color: black;}
/*Fecha Parceiros----------------------------------------------------------------------------------------------------------------------------------*/

    
 
div#contentPost{ width: 650px;  float: left;  overflow: hidden;}
    div#blocoPost{ background: white; margin-bottom: 25px; padding: 7px; overflow: hidden;}
    div#blocoPost a{ text-decoration: none; color: #8B0000; text-align: left;}
    div#blocoPost a:hover{ background: #f8cb0c;}
    .infoPost{ margin: 0px 0 0px 0px; }
    .infoPost b{ color: #8B0000;}
    div#blocoPost a[name="comentar"]{ font-weight: bold; font-size: 16px; background: #f8cb0c; color: black; border-radius:5px; padding: 5px; float: right; margin-right: 45px; margin-top: 15px;}
    div#blocoPost a[name="comentar"]:hover{ box-shadow:inset 0 0 6px #666;}
    div#blocoPost p{ font-size: 16px; text-indent: 50px; margin-bottom: 20px; }
    div#blocoPost p[name="info"]{ font-size: 14px; text-align: left; margin: 0px; }
    div#blocoPost p[name="info"] b{ font-size: 14px;}
    div#blocoPost b{ font-size: 18px;}

div#comentario p{ margin: 0; padding: 0;}
    
h1,h2,h3,h4,b{ color: #8B0000;}



/*Botoes e Caixa de texto----------------------------------------------------------------------------------------------------------------------------------*/
input[type="reset"],[type="submit"]{ background: #f8cb0c; border-radius:5px; color:black; padding:2px ; border:1px solid #999; cursor:pointer; font: 16px bold;}
input[type="text"],[type="password"]{ width: 280px; height: 23px; font-size: 16px; border-color: black;}
textarea{ border-color: black; font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif; width: 500px;}
input[type="reset"]:hover,
[type="submit"]:hover{ box-shadow:inset 0 0 6px red;}
/*Fecha Botoes e Caixa de texto----------------------------------------------------------------------------------------------------------------------------------*/

/*Login----------------------------------------------------------------------------------------------------------------------------------*/
div#login{ background: black; width: 30%; border-radius: 5px; margin-left: 360px; margin-top: 60px; margin-bottom: 60px; min-height: 211px;}
div#login h2{ text-align: left; color: #f8cb0c;}
div#login table{ text-align: center;}
/*Fecha Login----------------------------------------------------------------------------------------------------------------------------------*/


div#contentPaginacao{ width: 650px; margin-left: 145px; float: left; overflow: hidden; margin-bottom: 25px;}
div#paginacao{ background: #1e1c11; min-height: 50px; width: 100%;}
div#paginacao p{ color: white; padding: 15px; text-align: left; }
div#paginacao a{ color: white; font-size: 17px; padding: 9px 3px 9px 3px;}
div#paginacao a:hover{ text-decoration: none; background: #f8cb0c; color: black;}

div#footer{ background: #1e1c11/*#363636*/; min-height: 180px; width: 100%; overflow: hidden; padding-top: 10px; font-size: 14px;}
    .footer p{ color: white;}
    .footer{ width: 980px; margin: 0 auto;}
    .footer a{ color: white; padding: 5px; text-decoration: none; box-shadow:inset 0 0 6px #666; margin-top: 15px; margin-right: 5px;}
    .footer a:hover{ color: gold; box-shadow:inset 0 0 6px gold;}
    .footerFundo{ width:680px; margin:0 auto; }
    .footerFundo hr{ background: gray; height: 3px; margin-top: 15px; margin-bottom: 15px;}
    .footerFundoimg{ width:300px; margin:0 10px 0 0;  min-height: 160px; float: left; text-align: center;}